@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');
/*Montserrat font from fonts.google.com ^*/
* {
    padding: 0;
    margin: 0;
    outline: none;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

.root {
    font-size: large;
}