{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'BAccount/main.css' %}">
    <title>{% block title %}
        Бош саҳифа
    {% endblock title %}-Тадбиркор хисобини юритиш</title>
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
<header class="mb-4">
    <h2 class="display-1 text-right">Тадбиркор хисобчиси </h2>
    {% if user.is_authenticated %}
        <p>{{ user.first_name }} {{ user.last_name }} {{ user.owner_company_id }} </p>
    {% endif %}


    <div class="row">
        <ul class="col nav justify-content-end border">
            <li class="nav-item dropdown">
                <a href="{% url 'BAccount:profile' %}" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">Хужжат</a>
            </li>

            {% if not user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'BAccount:register' %}" class="nav-link">Регистрация</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="{% url 'BAccount:profile' %}" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true" aria-expanded="false">Профиль</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'BAccount:profile_change' %}" class="dropdown-item">
                            Ўзгартириш</a>
                        <a href="{% url 'BAccount:password_change' %}" class="dropdown-item">Паролни ўзгартириш</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'BAccount:profile_delete' %}" class="dropdown-item">Профилни ўчириш</a>
                    <a href="{% url 'BAccount:logout' %}" class="dropdown-item">Чиқиш({{ user.username }})</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item"><a href="{% url 'BAccount:login' %}" class="nav-link">Кириш</a></li>
        {% endif %}

        </ul>
    </div>
</header>
<div class="row">
    <nav class="col-md-auto nav flex-column border">
        <a href="#" class="nav-link root">Бош сахифа</a>
        <span class="nav-link root font-weight-bold">Кўчмас мулк(Группа номи)</span>
        <a href="#" class="nav-link">Турар-жой(элемент)</a>
        <a href="#" class="nav-link">Омбор(элемент)</a>
        <a href="#" class="nav-link">Гараж(элемент)</a>

        <span class="nav-link root font-weight-bold">Транспорт(Группа номи)</span>
        <a href="#" class="nav-link">Енгил машина(элемент)</a>
        <a href="#" class="nav-link">Юк машинаси(элемент)</a>
        <a href="#" class="nav-link">Хаваскорлар учун(элемент)</a>
    </nav>
    <section class="col border py-2">
        {% bootstrap_messages %}
        {% block content %}

        {% endblock %}
    </section>
</div>


<footer class="mt-3">
    <p class="text-right font-italic">
        &copy; Tillayev Technology LAB, 2000-2020 й.
    </p>
</footer>


</body>
</html>